<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi </h1>
    <h2>You've been invited to join the gift exchange group, <%= @group.name %></h2>
    <p>

    <p>
      To see your group, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for creating a group and have a great day!</p>
  </body>
</html>
