<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for Creating your new Gift Club group, <%= @group.name %></h1>
    <p>

    <p>
      To see your group, just follow this link: <%= link_to: 'GIFTdotCOM', root_url %>.
    </p>
    <p>Thanks for creating a group and have a great day!</p>
  </body>
</html>
