<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Gift club, <%= @user.first_name %></h1>
    <p>
      Before we get started, lets go over a few rules.<br>
      <ul>
        <li>The first rule of Gift Club is: You do not talk about Gift Club</li>
        <li>The second rule of Gift Club is: You do not talk about Gift Club</li>
        <li>The third rule of Gift Club is: Someone gives you a gift, you say thank you</li>
        <li>The last rule of Gift Club is: Only one gift per person</li>
      </ul>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>