<div id="footer" class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text">&copy; 2016 - GiftDotCom.com</p>
    <% if logged_in? %>
      <p class="navbar-text"><%= link_to 'Site Administrator', site_admin_path(current_user) %></p>
    <% end %>
  </div>
</div>
