/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */
body {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #EAEAEA !important;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

nav {
  position: fixed !important;
  top: 0px !important;
  width: 100% !important;
  background-color: #313841 !important;
}

#footer {
  color: white !important;
  background-color: #313841 !important;
}

nav a, .navbar-right {
  color: white !important;
}

.navbar-brand {
  font-size: 12px !important;
}

a {
  text-decoration: none !important;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #313841;
}

.navbar-nav > li > .dropdown-menu > li > a:hover {
    background-color: #313841;
    background-image: none;
}

.navbar-nav > li > .dropdown-menu.open {
    background: #313841 !important;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.username {
  font-weight: bold;
  font-size: 28px;
}

.bio {
  font-style: italic;
}

.user-data {
  display: inline !important;
}

.user-data-header {
  font-weight: bold;
}

.profile-section {
  font-weight: bold;
  font-size: 18px;
}

.section-title {
  color: #6C7A89;
}
