/* Some Style from the Bootstrap Default Theme */
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

nav {
  position: fixed !important;
  top: 0px !important;
  width: 100% !important;
  background-color: #313841 !important;
}

#footer {
  color: white !important;
  background-color: #313841 !important;
}

nav a, .navbar-right {
  color: white !important;
}

.navbar-brand {
  font-size: 12px !important;
}

a {
  text-decoration: none !important;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #313841;
}

.navbar-nav > li > .dropdown-menu > li > a:hover {
    background-color: #313841;
    background-image: none;
}

.navbar-nav > li > .dropdown-menu.open {
    background: #313841 !important;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.username {
  font-weight: bold;
  font-size: 28px;
}

.bio {
  font-style: italic;
}

.user-data {
  display: inline !important;
}

.data-header {
  font-weight: bold;
}

.data-sub-heading {
  font-size: 12px;
}

.profile-section {
  font-weight: bold;
  font-size: 18px;
}

.section-title {
  color: #6C7A89;
}

.profile-pic {
  width: 7%;
  height: 7%;
  float: right;
  margin-right: 10px !important;
}

.cover-image {
  background-image: url(image-path('homepage-bg.jpg'));
}

.navbar-brand, .navbar-brand:hover {
  font-size: 28px !important;
  color: white;
}

.nav-links, .nav-links:hover {
  font-size: 18px !important;
  color: white !important;
  background-color: transparent !important;
}

.btn-size {
  width: 125px;
  margin: 5px;
}

.footer-text, .footer-text:hover {
  color: white;
}

.pushdown {
  margin-top: 75px;
}

.section-secondary {
  color: white;
  background-color: #2E2E2E !important;
}

.nav-link-login {
  margin-right: 50px;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 150px;
}

.footer {
  position: relative;
  margin-top: -150px;
  height: 150px;
  clear: both;
  padding-top:20px;
}
