/* Some Style from the Bootstrap Default Theme */
body {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #EAEAEA !important;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

nav {
  position: fixed !important;
  top: 0px !important;
  width: 100% !important;
  background-color: #313841 !important;
}

#footer {
  color: white !important;
  background-color: #313841 !important;
}

nav a, .navbar-right {
  color: white !important;
}

.navbar-brand {
  font-size: 12px !important;
}

a {
  text-decoration: none !important;
}

.navbar-nav > li > .dropdown-menu {
  background-color: #313841;
}

.navbar-nav > li > .dropdown-menu > li > a:hover {
    background-color: #313841;
    background-image: none;
}

.navbar-nav > li > .dropdown-menu.open {
    background: #313841 !important;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.username {
  font-weight: bold;
  font-size: 28px;
}

.bio {
  font-style: italic;
}

.user-data {
  display: inline !important;
}

.data-header {
  font-weight: bold;
}

.data-sub-heading {
  font-size: 12px;
}

.profile-section {
  font-weight: bold;
  font-size: 18px;
}

.section-title {
  color: #6C7A89;
}
